{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US PAGE</title>
    <link rel="stylesheet" href="static/css/styl.css">
    
    
</head>
<body>
    <h2>ABOUT US</h2>
    <P>
        <h3> Apartment Services.</h3>
        With our Apartments we offer quality services and meet the desired needs of our customers.
        
       <h3> Dedication to Our Residents</h3>
        At Apartment Services, our goal is to provide our residents with high-quality homes and outstanding service. A team of professionals is assigned to each community to ensure the best possible living environment and are available to give our residents personalized attention. Our Service Team takes pride in the quality of our apartments , working diligently to keep our communities well maintained. We believe that this consistent dedication guarantees the very best standard of quality living for our residents.
        
        <h3> Properties</h3>
        Apartment Services owns and manages 40 apartments in Muyenga,Munyonyo,Entebbe and Kisaasi. Our occupancy rate averages 97% with thanks to our Leasing and Service teams who provide excellent customer service every single day. 
        
       <h3> Phone</h3>
        +256-724315678
        +256-735387925	
       <h3> Email</h3>
        miriam@ApartmentServices.com</P>
        LOCATION:
            Our offices are located at Nansana-Masitoowa Kenjoy Building Room 204A.
        </p>
        <p>
        <a href="{% url 'gallery_page' %}">gallery</a>
        </p>
    
</body>
</html>