{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us page</title>
    <script>
        function sayHello(){
            var userinput = document.querySelector("#ma").value;
            alert("Hello "+userinput);
        }
    </script>

    <link rel="stylesheet" href="style.css/styl.css">
</head>
<body style="text-align: center;">
    <h2 style="text-align: center;">CONTACT US</h2>
    <form action="">
        <p><input type="text" class="c" id="ma" placeholder="First Name"></p>
        <p><input type="text" class="c" id="" placeholder="Last Name"></p>
            <p><input type="text" class="c" id="" placeholder="Your Email"></p> 
                <p><input type="text" class="c" id="" placeholder="Your Contact No."></p>
                    <p><input type="text" class="c" id="" placeholder="Your Message"></p>
        <button onclick="sayHello()" >Send message</button>
        <p>
            <a href="{%  url 'home_page' %}">home</a>
        </p>
    
</body>
</html>