{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICES PAGE</title>
    
     <a href="{% url 'contactus_page' %}">Contactus</a>
        
    <link rel="stylesheet" href="style.css/styl.css">
</head>
<body>
    <h2>SERVICES OFFERED</h2>
    <ul>
        <li>Online Booking</li>
        <li>Renting services</li>
        <li>Buying discounts</li>
    </ul>
    
    
    
</body>
</html>